Carrito/Monitor Carrito.json
[
    {
        "id": "2a64662d777ae2d2",
        "type": "tab",
        "label": "Monitor Carrito",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d985c2be839e82e",
        "type": "mqtt in",
        "z": "2a64662d777ae2d2",
        "name": "",
        "topic": "carrito/estado",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "d79eedeaa49c9e78"
            ]
        ]
    },
    {
        "id": "d79eedeaa49c9e78",
        "type": "ui_text",
        "z": "2a64662d777ae2d2",
        "group": "93df13579c8e05f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado (Tiempo)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0aa8d25ecc235a6",
        "type": "mqtt in",
        "z": "2a64662d777ae2d2",
        "name": "Acelerador (Eje 5)",
        "topic": "carrito/monitor/eje/5",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "f17d4f3a18f918f9"
            ]
        ]
    },
    {
        "id": "f17d4f3a18f918f9",
        "type": "ui_gauge",
        "z": "2a64662d777ae2d2",
        "name": "",
        "group": "93df13579c8e05f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Acelerador",
        "label": "PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "fad431e2b3807562",
        "type": "mqtt in",
        "z": "2a64662d777ae2d2",
        "name": "Reversa (Eje 4)",
        "topic": "carrito/monitor/eje/4",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "c18f255b5edfb466"
            ]
        ]
    },
    {
        "id": "c18f255b5edfb466",
        "type": "ui_gauge",
        "z": "2a64662d777ae2d2",
        "name": "",
        "group": "93df13579c8e05f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Reversa",
        "label": "PWM",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "f0c09d0ea9620044",
        "type": "mqtt in",
        "z": "2a64662d777ae2d2",
        "name": "Direccion (Eje 0)",
        "topic": "carrito/monitor/eje/0",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "eaeaeca41b6dfe24"
            ]
        ]
    },
    {
        "id": "eaeaeca41b6dfe24",
        "type": "ui_gauge",
        "z": "2a64662d777ae2d2",
        "name": "",
        "group": "93df13579c8e05f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Dirección",
        "label": "",
        "format": "{{value}}",
        "min": "-1000",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "broker_local",
        "type": "mqtt-broker",
        "name": "Mi Broker Local",
        "broker": "192.168.0.100",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "93df13579c8e05f8",
        "type": "ui_group",
        "z": "2a64662d777ae2d2",
        "name": "Sensores en Tiempo Real",
        "tab": "e0ce72f67401467f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e0ce72f67401467f",
        "type": "ui_tab",
        "z": "2a64662d777ae2d2",
        "name": "Carrito ESP32",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e30933ba97cf7c64",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]